version: "3"
services:
  res01:
    image: lifesboy/landnews-data
    container_name: res01
    entrypoint: /bin/bash -c "/bin/bash -c \"$${@}\""
    command: |
      /bin/bash -c "
        set -e
        chown -R 1000:root /volumes
        lsyncd -direct /backup /volumes -nodaemon
        /bin/bash || exit 0
      "
    ports:
      - 2080:80
      - 2443:443
    volumes:
      - ./dat01/lsyncd.conf.lua:/etc/lsyncd/lsyncd.conf.lua
      - data01:/volumes/data01
      - data02:/volumes/data02
      - data03:/volumes/data03
    networks:
      - elastic

  vol01:
    image: nginx
    container_name: vol01
    ports:
      - 3080:80
      - 3443:443
    volumes:
      - data01:/volumes/data01
      - data02:/volumes/data02
      - data03:/volumes/data03
    networks:
      - elastic

volumes:
  data01:
    driver: local
  data02:
    driver: local
  data03:
    driver: local

networks:
  elastic:
    driver: bridge
